<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Error Page</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="icon" href="/static/assets/img/icon.png" type="image/x-icon">

    <style>
        .navbar-nav .nav-item .nav-link {
            color: #b7f7bf; /* Kolor napisów "Zaloguj" i "Zwierzęta" */
        }

        .navbar-nav .nav-item .nav-link:hover {
            color: #e6ffe8; /* Kolor napisów po najechaniu na nie */
        }
        body {
            background-color: #b7f7bf;
        }
        button.btn.btn-primary {
            background-color: #025e0d;
            border-color: #025e0d;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #025e0d;">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/static/assets/img/logo.jpg" alt="Logo" style="height: 40px; width: auto;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/zwierzeta}">Zwierzęta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/main}">Zaloguj</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-7 mt-5">
            <form method="post" th:action="@{/index}">
                <div class="form-group">
                    <div><b><p style="font-size:30px">Błąd 500 - Wewnętrzny błąd serwera</p></b></div>
                    <div><p style="font-size:20px">Przepraszamy za wystąpienie problemu. Obecnie strona schroniska jest w trakcie rozbudowy i ulepszania, co może powodować chwilowe niedogodności. Zachęcamy do ponownej wizyty na naszej stronie później. </p></div>
                </div>
                <button class="btn btn-primary" type="submit" value="Sign In">Powrót na stronę główną</button>
            </form>
        </div>
        <div class="col-md-5 mt-5 text-center">
            <img src="/static/assets/img/error.png" alt="Error Image" style="max-width: 100%; height: auto;">
        </div>
    </div>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>